# Web
NEXT_PUBLIC_API_URL=https://econeura-api-dev.azurewebsites.net

# API
ALLOWED_ORIGINS=https://econeura-web-dev-dpehcua9augngbcb.northeurope-01.azurewebsites.net,https://www.econeura.com
APPLICATIONINSIGHTS_CONNECTION_STRING=
NODE_ENV=production